# VCS / tooling
.git
.github
.gitignore

# Python cruft
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Envs & IDE
.venv/
venv/
.env
.idea/
.vscode/

# Tests / docs (not needed in image)
tests/
docs/
